@import "tailwindcss";
@import "@repo/ui/globals.css";
@source '../index.html';
@source './**/*.{js,ts,jsx,tsx,mdx}';

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
}
